#hero {
  max-width: 1600px;
  margin: 0 auto; /* Center the content horizontally within the browser window */
}
nav a{
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-family:Arial, Helvetica, sans-serif;
  margin: 10px;
  padding:10px 15px;
  border-radius: 3px;
}
.img{
  text-align: center;
  width: 100px;
  height:150px;
  border-radius:50%;
  border:10px solid #fff;

}
.card-img {
  border: 10px solid #af9164;
}

#hero-msg h1{
  text-align: center;
  color:cornflowerblue;
  text-decoration: dashed;
  padding: 15px;

}
#hero-msg h4{
  text-align: center;
  padding: 5px;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.button-box{
  text-align: center;
  font-size: 25px;
  padding: 5px;
  margin-top: 0;
}
main , section{
  text-align: center;
}
#background{
  height:725px;
  background-color: rgb(255, 145, 0);
}
body{
  background-color:bisque;
}
header{
  background-color:rgba(rgb(255, 0, 64), rgb 0, 128, 107);
}
nav a:hover{
  background-color: grey;
  color: black;
  text-decoration: underline;
}
.book, .join{
  background-color: black;
  text-decoration: none;
  font-size:2em;
  padding: 15px 30px;
  margin-top:50px;
  border-radius: 5px;
}
.book:hover, .join:hover{
  background-color: bisque;
}
.msg{
  background-color: aqua;
  line-height: 1.5em;
  padding: 35px;
  font-size: .8em;
}
footer{
  background-color: grey;
  font-size: 22px;
}
footer a{
  text-decoration:underline;
}
footer a:hover{
  background-color: black;
}
footer p{
  font-size:1.2em;
}
footer p a:hover{
  text-decoration: underline;
}
.home-title{
  font-size:2em;
  font-family: Arial, Helvetica, sans-serif;
}







